name: Deploy to K3s

on:
  # push:
  #   branches:
  #     - main  # Replace with your main branch name
  workflow_dispatch:
    inputs:
      host:
        description: 'AWS Instance Hostname/IP'     
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: 'us-east-1'  # Specify your AWS region here

    - name: Login to Amazon ECR Public
      run: |
        aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/o2v4a5o0

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: public.ecr.aws/o2v4a5o0  # Replace with your actual ECR public registry
        ECR_REPOSITORY: matban/hello-world-react  # Replace with your desired ECR repository name
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add server to known hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H ${{ github.event.inputs.host }} >> ~/.ssh/known_hosts

    - name: Copy deployment files to EC2
      run: |
        scp -o StrictHostKeyChecking=no deployment.yaml service.yaml ec2-user@${{ github.event.inputs.host }}:/home/ec2-user/

    - name: Update deployment.yaml with new image tag
      run: |
        ssh -o StrictHostKeyChecking=no ec2-user@${{ github.event.inputs.host }} "sed -i 's|public.ecr.aws/o2v4a5o0/matban/hello-world-react:latest|public.ecr.aws/o2v4a5o0/matban/hello-world-react:${{ github.sha }}|g' /home/ec2-user/deployment.yaml"

    - name: Deploy to K3s
      run: |
        ssh -o StrictHostKeyChecking=no ec2-user@${{ github.event.inputs.host }} << 'EOF'
          kubectl apply -f /home/ec2-user/deployment.yaml
          kubectl apply -f /home/ec2-user/service.yaml
        EOF
